# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.slm/
.github
.DS_Store
.rooignore

all_code_combined.txt
copilot_code_style.md
slm.code-workspace
results/
repo2txt.py
requirements.txt
